#Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

# Avoid ignoring Maven wrapper jar file (.jar files are usually ignored)
!/.mvn/wrapper/maven-wrapper.jar

#C
# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

#Composer
composer.phar
vendor/

*.png
*.jpg
*.log
/soap-client/soap-client.iml
/soap-client/.idea/
/soap-client/logs/

/soap-server/.idea/
/soap-server/logs/
/soap-server/composer.json
/soap-server/composer.lock
socket-tcp-server/.vscode/launch.json
socket-tcp-server/.vscode/tasks.json
socket-tcp-server/bin/
socket-udp-server/.vscode/launch.json
socket-udp-server/.vscode/settings.json
socket-udp-server/.vscode/tasks.json
socket-udp-server/bin/
